<nav class="navigation">
	{{ if not .IsHome }}
		<a href="{{ "/" | relURL }}"> <span class="arrow">←</span>{{ "Latest" }}</a>
	{{ end }}
	<a href="{{ "/posts" | relURL }}">{{ "All" }}</a>
	<a href="{{ "/tags" | relURL }}">{{ "Tags" }}</a>
	<a href="{{ "/tags/thoughts" | relURL }}">{{ "Thoughts" }}</a>
	<a href="{{ "/about-jet" | relURL }}">{{ "About Jet" }}</a>

	{{ range $element := .Site.Params.Links }}
		<a href="{{ $element.path }}">{{ $element.name }}</a>
	{{ end }}

	{{ if .Site.Params.enableRSS }}
	  <a class="button" href="{{ .Site.RSSLink }}">{{ with .Site.Params.subscribe }}{{ . }}{{ else }}{{ i18n "subscribe" }}{{ end }}</a>
	{{ end }}
</nav>
